---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/sections/Hero.astro';
import SelectedWork from '../components/sections/SelectedWork.astro';
import About from '../components/sections/About.astro';
import Contact from '../components/sections/Contact.astro';
---

<BaseLayout>
  <main>
    <span id="top"></span>
    <Hero />
    <SelectedWork />
    <About />
    <Contact />
  </main>
</BaseLayout>
